
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="row col-lg-12 justify-content-center">
        <div class="col-lg-3" style="color: white;">
            <h4>Redes Sociales</h4>
            <ul>
                <a href="www.facebook.com" style="color: white;"><li>Facebook</li></a>
                <a href="www.twitter.com" style="color: white;"><li>Twitter</li></a>
                <a href="www.instagram.com" style="color: white;"><li>Instagram</li></a>
            </ul>
        </div>
        <div class="col-lg-3" style="color: white;">
            <h4>Correo y Ubicación</h4>
            <ul>
                <li>correo@tecnologia.cl</li>
                <li>Almirante señoret 57, Ñuñoa</li>
                
            </ul>
        </div>
    </div>
  </nav>
